{{#unless this.noRating}}
  <div class="is-rating">
    {{#each this.starList as |star index|}}
      <i class="star-rating is-star-{{star.count}}">&Star;</i>
    {{else}}
      <i class="star-rating is-star-x">x</i>
    {{/each}}
  </div>
  {{#if this.showRatingAlt}}
    <div class="is-alt-rating">
      {{#each this.starListAlt as |star index|}}
        <i class="star-rating is-star-{{star.count}}">&Star;</i>
      {{else}}
        <i class="star-rating is-star-x">x</i>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <div class="is-text">{{this.elementType}}</div>
{{/unless}}
