<div class="element-grid">
  {{status-rating elementType="fire" ratingAmount=physiology.fire ratingAlt=physiology.fireAlt}}
  {{status-rating elementType="water" ratingAmount=physiology.water ratingAlt=physiology.waterAlt}}
  {{status-rating elementType="thunder" ratingAmount=physiology.thunder ratingAlt=physiology.thunderAlt}}
  {{status-rating elementType="ice" ratingAmount=physiology.ice ratingAlt=physiology.iceAlt}}
  {{status-rating elementType="dragon" ratingAmount=physiology.dragon ratingAlt=physiology.dragonAlt}}
</div>
<div class="ailment-grid">
  {{status-rating elementType="poison" ratingAmount=physiology.poison ratingAlt=physiology.poisonAlt}}
  {{status-rating elementType="sleep" ratingAmount=physiology.sleep ratingAlt=physiology.sleepAlt}}
  {{status-rating elementType="paralysis" ratingAmount=physiology.paralysis ratingAlt=physiology.paralysisAlt}}
  {{status-rating elementType="blast" ratingAmount=physiology.blast ratingAlt=physiology.blastAlt}}
  {{status-rating elementType="stun" ratingAmount=physiology.stun ratingAlt=physiology.stunAlt}}
</div>