<div class="element-grid">
  {{status-rating elementType="fire" ratingAmount=physiology.fire}}
  {{status-rating elementType="water" ratingAmount=physiology.water}}
  {{status-rating elementType="thunder" ratingAmount=physiology.thunder}}
  {{status-rating elementType="ice" ratingAmount=physiology.ice}}
  {{status-rating elementType="dragon" ratingAmount=physiology.dragon}}
</div>
<div class="ailment-grid">
  {{status-rating elementType="blast" ratingAmount=physiology.blast}}
  {{status-rating elementType="stun" ratingAmount=physiology.stun}}
  {{status-rating elementType="poison" ratingAmount=physiology.poison}}
  {{status-rating elementType="sleep" ratingAmount=physiology.sleep}}
  {{status-rating elementType="paralysis" ratingAmount=physiology.paralysis}}
</div>