{{#each weaknesses as |weakness|}}
    <div class="grid-item">
        <h4>{{weakness.area}} <span>{{weakness.type}}</span></h4>
        {{status-rating elementType="cut" ratingAmount=weakness.cut}}
        {{status-rating elementType="blunt" ratingAmount=weakness.blunt}}
        {{status-rating elementType="ammo" ratingAmount=weakness.ammo}}
    </div>
{{/each}}