<div class="header-nav
  {{if this.searchIsOpen 'search-is-open'}}
  {{if @sidePanelIsOpen 'side-panel-is-open'}}
">
  <button
    aria-hidden="true"
    class="menu
      {{if @sidePanelIsOpen 'is-open'}}
      {{if this.hasAlert 'has-alert'}}
    "
    type="button"
    {{on 'click' @actionButton}}
  >
      <i class="fas fa-paw"></i>
  </button>
  <h1 class="title">
    Hunter's Field Guide
  </h1>
  <SearchFilter
    @sidePanelIsOpen={{@sidePanelIsOpen}}
    @searchTerm={{@searchTerm}}
    @actionSearch={{@actionSearch}}
    @actionFocused={{this.inputFocused}}
  />
</div>
  