<div
  class="monster-row
    {{if this.inView 'is-active'}}
    {{if this.showAlternate 'is-open'}}
  "
  {{in-viewport onEnter=(action this.onEnter)}}
>
  <h2 class="title">{{@monster.name}}</h2>
  <h3 class="subtitle">{{@monster.species.name}}</h3>
  <div class="monster-grid">
    <MonsterLogo
      @slug={{@monster.slug}}
      @alternate={{this.showAlternate}}
      @toggle={{action "toggleGrid"}}
    />
    <StatusGrid
    @physiology={{@monster.physiology}}
    />
  </div>
  <MonsterLogo
    @slug={{@monster.slug}}
    @alternate={{true}}
    @isHidden={{true}}
  />
  <WeaknessGrid
    @weaknesses={{@monster.weaknesses}}
    @breakpoints={{@monster.breakpoints}}
  />
  <div class="ailment-row">
    {{#each @monster.ailments as |ailment|}}
      <AilmentInfo @ailment={{ailment}} />
    {{/each}}
  </div>

  <hr class="break">
</div>