<div class="search-filter
  {{if this.isFocused 'is-focused'}}
  {{if this.hasContent 'has-content'}}
">
  <button
    aria-label="search"
    class="search"
    type="button"
    {{on 'click' this.onFocusIn}}
  >
    <i class="fas fa-search"></i>
  </button>
  <Input
    placeholder="Monster or Species"
    aria-label="Search by monster name or species"
    class="input"
    @value={{@searchTerm}}
    {{on "keyUp" this.onKeyUp}}
    {{on "focus" this.onFocusIn}}
    {{on "blur" this.onFocusOut}}
  />
  <button
    aria-label="clear search"
    class="close {{if this.hasContent 'is-shown'}}"
    type="button"
    {{on 'click' this.clearSearch}}
  >
    <i class="fas fa-times"></i>
  </button>
</div>