<div class="status-rating {{this.dynamicClasses}}">
  {{#if @ratingAmount}}
    <div class="is-rating">
      {{#each this.starList as |star|}}
        <i class="star-rating is-star-{{star.count}}">&Star;</i>
      {{else}}
        <i class="star-rating is-star-x">x</i>
      {{/each}}
    </div>
    {{#if this.showRatingAlt}}
      <div class="is-alt-rating">
        {{#each this.starListAlt as |star|}}
          <i class="star-rating is-star-{{star.count}}">&Star;</i>
        {{else}}
          <i class="star-rating is-star-x">x</i>
        {{/each}}
      </div>
    {{/if}}
  {{else}}
    <div class="is-text">{{@elementType}}</div>
  {{/if}}
</div>
