<div class="weakness-grid">
    {{#each @weaknesses as |weakness|}}
        <div class="grid-item">
            <h4 class="title">{{weakness.area}}
                <span class="subtitle">{{weakness.type}}</span>
            </h4>
            <StatusRating @elementType="cut" @ratingAmount={{weakness.cut}} /> 
            <StatusRating @elementType="blunt" @ratingAmount={{weakness.blunt}} />
            <StatusRating @elementType="ammo" @ratingAmount={{weakness.ammo}} />
        </div>
    {{/each}}
    <div class="grid-item">
    {{#each @breakpoints as |breakpoint|}}
        <h4 class="title">{{breakpoint.area}}
            <span class="subtitle">{{breakpoint.type}}</span>
        </h4>
    {{/each}}
    </div>
</div>