<div class="help">
  {{outlet}}
  <h3 class="subtitle">A Quick Guide to the Guide</h3>
  <p>This field guide is designed to supplement the Hunter's Guide in 
    Monster Hunter World, and reflects how it is presented in-game.</p>
  <p>It is of most use once familiar with the game and have regular access 
    to status weapons.</p>

  <fieldset class="status-legend">
    <legend>Legend</legend>

    <div class="status-grid">
      <div class="element-grid">
        <StatusRating @elementType="fire" @noRating={{true}} />
        <StatusRating @elementType="water" @noRating={{true}} />
        <StatusRating @elementType="thunder" @noRating={{true}} />
        <StatusRating @elementType="ice" @noRating={{true}} />
        <StatusRating @elementType="dragon" @noRating={{true}} />
      </div>
      <div class="ailment-grid">
        <StatusRating @elementType="poison" @noRating={{true}} />
        <StatusRating @elementType="sleep" @noRating={{true}} />
        <StatusRating @elementType="paralysis" @noRating={{true}} />
        <StatusRating @elementType="blast" @noRating={{true}} />
        <StatusRating @elementType="stun" @noRating={{true}} />
      </div>
    </div>
    <div class="weakness-grid">
      <StatusRating @elementType="cut" @noRating={{true}} />
      <StatusRating @elementType="blunt" @noRating={{true}} />
      <StatusRating @elementType="ammo" @noRating={{true}} />
    </div>
  </fieldset>

  <h3 class="subtitle">Using the Guide</h3>
  <ul class="tip-list">
    <li>When picking an element or status to hunt a monster, use an element with more stars:
    <ul class="sub-list">
      <li><StatusRating @elementType="fire" @ratingAmount={{3}} /></li>
      <li><StatusRating @elementType="water" @ratingAmount={{2}} /></li>
      <li><StatusRating @elementType="thunder" @ratingAmount={{1}} /></li>
    </ul>
    </li>
    <li>Avoid using elements marked with an X:
      <ul class="sub-list">
        <li><StatusRating @elementType="ice" @ratingAmount={{0}} /></li>
      </ul>
    </li>
    <li class="monster-weakness is-active">When attacking a monster, focus on areas in red or yellow, or areas marked as 'breakable' or 'severable.'
      <div class="monster-logos">
        <div class="monster-logo is-great-jagras is-alt"></div>
        <div class="monster-logo is-barroth is-alt"></div>
      </div>
    </li>
    <li>Weapon types can also do more damage against different areas.
      <ul class="sub-list">
        <li><StatusRating @elementType="cut" @ratingAmount={{3}} /></li>
        <li><StatusRating @elementType="blunt" @ratingAmount={{2}} /></li>
        <li><StatusRating @elementType="ammo" @ratingAmount={{1}} /></li>
      </ul>
    </li>
    <li class="blight-warning"> Block blight effects by raising the blight armor stat above 20.
      <ul class="sub-list">
        {{#each this.ailmentList as |ailment|}}
          <li><AilmentInfo @ailment={{ailment}} /></li>
        {{/each}}
      </ul>
    </li>
    <li class="stun-warning"><StatusRating @elementType="stun" @noRating={{true}} /> All monsters can stun!</li>
  </ul>
</div>
