{{outlet}}
<fieldset class="settings">
  <legend>Settings</legend>
  <div name="sortBy" class="sort-radios">
    <div class="label">Sort Monsters by</div>
    <div class="items">
      <RadioButton
        @value="guide"
        @groupValue={{this.groupValue}}
        @name="sort"
        @changed={{this.toggleSort}}
        @classNames="radio-label"
      >
          <RadioIcon @radioOn={{this.settings.sortGuide}} />
          Guide
      </RadioButton>

      <RadioButton
        @value="alpha"
        @groupValue={{this.groupValue}}
        @name="sort"
        @changed={{this.toggleSort}}
        @classNames="radio-label"
      >
          <RadioIcon @radioOn={{this.settings.sortAlpha}} />
          Name
      </RadioButton>
    </div>
  </div>
  <button
    class="two-state remember-me"
    type="button"
    {{on 'click' this.toggleUserCookie}}
  >
    {{if this.settings.rememberUser "Forget Me" "Remember Me"}}
  </button>
</fieldset>

<h2 class="title">Updates</h2>
<table class="update-table">
  <tbody>
    {{#each this.model.updates as |item|}}
      <UpdateItem @item={{item}} />
    {{/each}}
  </tbody>
</table>