{{outlet}}
<fieldset class="settings">
  <legend>Settings</legend>
  <div name="sortBy" class="sort-radios">
    <div class="label">Sort Monsters by</div>
    <div class="items">
      <RadioButton
        @value="guide"
        @groupValue={{this.groupValue}}
        @name="sort"
        @changed={{action "toggleSort"}}
        @classNames="radio-label"
      >
          <RadioIcon @radioOn={{this.sortGuide}} />
          Guide
      </RadioButton>

      <RadioButton
        @value="alpha"
        @groupValue={{this.groupValue}}
        @name="sort"
        @changed={{action "toggleSort"}}
        @classNames="radio-label"
      >
          <RadioIcon @radioOn={{this.sortAlpha}} />
          Name
      </RadioButton>
    </div>
  </div>
  <TwoStateButton
    @classNames="remember-me"
    @isOn={{this.rememberUser}}
    @labelOn="Forget Me"
    @labelOff="Remember Me"
    @actionOn={{action "forgetUser"}}
    @actionOff={{action "rememberUser"}}
  />
</fieldset>

<h2 class="title">Updates</h2>
<table class="update-table">
  {{#each this.updateItems as |item|}}
    <UpdateItem @item={{item}} />
  {{/each}}
</table>