{{outlet}}
<fieldset class="settings">
  <legend>Settings</legend>
  <div name="sortBy" class="sort-radios">
    <div class="label">Sort Monsters by</div>
    <div class="items">
      {{#radio-button
        value='guide'
        groupValue=groupValue
        name='sort'
        changed='toggleSort'
        classNames='radio-label'
      }}
          {{radio-icon radioOn=sortGuide}}
          Guide
      {{/radio-button}}

      {{#radio-button
        value='alpha'
        groupValue=groupValue
        name='sort'
        changed='toggleSort'
        classNames='radio-label'
      }}
          {{radio-icon radioOn=sortAlpha}}
          Name
      {{/radio-button}}
    </div>
  </div>
  {{two-state-button
    classNames='remember-me'
    isOn=rememberUser
    labelOn="Forget Me"
    labelOff="Remember Me"
    actionOn=(action 'forgetUser')
    actionOff=(action 'rememberUser')
  }}
</fieldset>

<h2 class="title">Updates</h2>
<table class="update-table">
  {{#each updateItems as |item|}}
    {{update-item item=item}}
  {{/each}}
</table>