<HeaderNav
  @sidePanelIsOpen={{this.sidePanelIsOpen}}
  @searchTerm={{this.searchTerm}}
  @actionSearch={{action "updateSearchTerm"}}
  @actionButton={{action "toggleSidePanel"}}
/>
<div id="container" class="container">
  {{outlet}}
  <div id="monsterList" class="monster-list">
    {{#each this.monsterList as |monster|}}
      <MonsterRow @monster={{monster}} @logEvent={{action "logEvent"}} />
    {{/each}}
  </div>

  <FooterNav />
</div>
{{#side-panel isOpen=sidePanelIsOpen actionClose=(action "toggleSidePanel")}}
  {{outlet "side-panel"}}
{{/side-panel}}