{{header-nav 
  sidePanelIsOpen=sidePanelIsOpen
  searchTerm=(readonly searchTerm) 
  actionSearch=(action "updateSearchTerm")
  actionButton=(action "toggleSidePanel")
}}
<div id="container" class="container">
  {{outlet}}
  <div id="monsterList" class="monster-list">
    {{#each monsterList as |monster|}}
      {{monster-row monster=monster logEvent=(action 'logEvent')}}
    {{/each}}
  </div>

  {{footer-nav}}
</div>
{{#side-panel isOpen=sidePanelIsOpen actionClose=(action "toggleSidePanel")}}
  {{outlet "side-panel"}}
{{/side-panel}}