<HeaderNav
  @sidePanelIsOpen={{this.sidePanelIsOpen}}
  @searchTerm={{this.searchTerm}}
  @actionSearch={{action "updateSearchTerm"}}
  @actionButton={{action "toggleSidePanel"}}
/>

<div id="container" class="container">
  <div id="monsterList" class="monster-list">
    {{#each this.monsterList as |monster|}}
      <MonsterRow @monster={{monster}} @logEvent={{action "logEvent"}} />
    {{/each}}
  </div>

  <FooterNav />
</div>

<SidePanel 
  @isOpen={{this.sidePanelIsOpen}}
  @actionClose={{action "toggleSidePanel"}}
  @actionInserted={{action "sidePanelInserted"}}
>
  {{outlet}}
</SidePanel>