<HeaderNav
  @sidePanelIsOpen={{this.sidePanelIsOpen}}
  @searchTerm={{this.searchTerm}}
  @actionSearch={{this.updateSearchTerm}}
  @actionButton={{this.toggleSidePanel}}
/>

<div id="container" class="container">
  <div id="monsterList" class="monster-list">
    {{#each this.monsterList as |monster|}}
      <MonsterRow @monster={{monster}} @logEvent={{this.logEvent}} />
    {{/each}}
  </div>

  <FooterNav />
</div>

<SidePanel 
  @isOpen={{this.sidePanelIsOpen}}
  @actionClose={{this.toggleSidePanel}}
>
  {{outlet}}
</SidePanel>